{% extends 'base.html.twig' %}

{% block title %}Hello AdminMovieController!
{% endblock %}

{% block body %}
	<aside class="border px-3 pt-2 pb-3">

		{{ form_start(form, {'attr': {'class': 'row'}}
		) }}

		{{ form_widget(form, {'attr': {'class': 'd-flex justify-content-start align-items-start col-12 col-md-8 row'}}
		) }}

		<div class="d-flex justify-content-end align-items-center col-12 col-md-4 my-1">
			<button class="btn btn-success">{{ button_label|default('Search') }}</button>
			<a class="btn btn-secondary ms-3" href="{{ path('movie_list')}}">{{ button_label|default('Select All') }}</a>
		</div>
		{{ form_end(form) }}

	</aside>

	<div class="d-flex justify-content-between align-items-center m-1">
		<h3 class="">{{ searchTitle }}</h3>
        <a class="btn btn-sm btn-primary" href="{{ path('app_admin_movie_new')}}">
            <i class="fas fa-plus"></i>
            Add Movie
        </a>
	</div>

	<div class="table-responsive">
		<table class="table table-light table-sm table-striped table-hover">
			<thead>
				<tr>
					<th>Poster</th>
					<th>Titre</th>
					<th>Sortie</th>
					<th>Langue</th>
					<th>Genres</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for movie in movies %}
					<tr>
						<td>
							<img height="75em" src="{{ movie.posterPath }}" alt="poster"></td>
						<td>{{ movie.title }}</td>
						<td>{{ movie.releaseDate|date("d-m-Y") }}</td>
						<td>{{ movie.originalLanguage }}</td>
						<td>
							{% for genre in movie.getGenreIds() %}
								<span class="badge bg-dark">{{ genre.name }}</span>
							{% endfor %}
						</td>
						<td>
							<a class="btn btn-sm btn-secondary" href="{{ path('app_admin_movie_edit', {id: movie.id}) }}" title="Modify">
								<i class="fas fa-edit"></i>
							</a>
						</td>
						<td>
							{{ include('admin_movie/forms/_delete_form.html.twig') }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
